body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    width: 1600px;
    height: 2837px;
}
.menu {
    width: 1600px;
height: 80px;
left: 0px;
top: 0px;
}
.header {
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background-color: #2F303A;
}