body {
  font-family: "Raleway", "Roboto", sans-serif;

  color: black;
}

.menu-nav .link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.menu-nav .link:hover,
.menu-nav,
link:focus {
  color: #2196f3;
}
.contact .contact {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contact .contact:hover,
.contact .contact:focus {
  color: #2196f3;
}

.logo-image {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo .accent {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header {
  width: 1600px;
  height: 600px;
  top: 80px;
  background-color: #2f303a;
}
.header-text {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 31px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.button-one {
  background-color: #2196F3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  background:#2196F3;
  border-radius: 4px;
  line-height: 31px;
  cursor: pointer;

}
.button-one:hover {
  background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.feature-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.specialty {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.workers {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.person {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.work {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.contact2 {
  background-color: #2F303A;
  width: 1600px;
height: 252px;
color: #ffffff;
font-family: "Roboto";
font-style: normal;
}
.logo-image2 {
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.contact2 .accent {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
}
.contact2 .contact2 {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
}
.contact2 .contact2:hover,
.contact2 .contact2:focus {
  color: #2196f3;
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.description {
  font-weight: 400;
font-size: 16px;
line-height: 29px;
letter-spacing: 0.03em;
color: #757575;
}
.team {
  background-color: #F5F4FA;
}